<% provide :title, "About" %>
<!DOCTYPE html>
<html>
  <head>
    <title> <%= t ".title" %> | <%= t "title" %></title>
  </head>

  <body>
    <h1><%= t ".title" %></h1>
      <p>
          <%= t "the" %>
          <%= link_to t("tutorial"), Settings.settings.link %>
          <%= t ".about_content_1" %>
          <%= link_to t(".about_content_2"), Settings.settings.learn %>
          <%= t ".about_content_3" %>
          <%= link_to t(".book"), Settings.settings.book %>
          <%= t ".and" %>
          <%= link_to t(".about_content_4"),Settings.settings.screencast %>
          <%= t ".about_content_5"  %>
          <%= link_to t("RoR"), Settings.settings.RoR %>
          <%= t ".about_content_6" %>
      </p>
  </body>
</html>
