<!DOCTYPE html>
<html>
  <head>
    <title><%= t(".title") %> | <%= t("title") %>
    </title>
  </head>

  <body>
    <h1><%= t(".title") %></h1>
    <p>
        <%= t(".help_content1") %>
        <%= link_to t(".page"), Settings.settings.help %>
        <%= t(".help_content2") %>
        <%= link_to t("tutorial"), Settings.settings.book %>
    </p>
  </body>
</html>
