<h1><%= t "users.email.reset" %></h1>
<p><%= t "users.email.reset_link" %></p>
  <%= link_to "users.email.reset", edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "users.email.expire" %></p>
<p><%= t "users.email.ignore" %></p>
